/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.shadow{
    border-radius: 35px;
}




@media screen and (min-width:375px) {
   .companyIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media screen and (min-width:768px){
    .awesomePhoto{
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    .downloadPart{
      display: flex;
    }
    .ultimatePhoto>img{
        width:400px;
    }
    .ultimatePT1{
        display: flex;
    }
    .ourappText{
       display: flex;
    }
    .card1{
        width:300px;
    }
    .cardMain{
        display: flex;
        justify-content: space-evenly;
    }
    .footerNav{
        text-align: center;
    }

}